/**
 * 首页样式
 * Li.chen
 * 2018-11-20
 */

body,
input,
textarea,
select,
button {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
}

body {
    background-color: #f6f6f6;
    color: #333333;
    font-family: "微软雅黑";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: none;
    color: #333333;
}

.hide {
    display: none !important;
}

/* header.shtml */

header {
    height: 468px;
    width: 100%;
    background-image: url(../img/header_banner.jpg);
    user-select: none;
}

.header_container {
    max-width: 1200px;
    margin: 0px auto;
    padding-top: 67px;
}

.header_container .nav-link {
    padding: 0px;
}

.header_container .row{
    margin: 0px;
}

.header_container ul.menu {
    height: 87px;
}

.header_container ul.menu li {
    float: left;
    height: 75%;
    line-height: 87px;
    padding: 0px 30px;
    position: relative;
}

/* 导航效果  */
/* .header_container ul.menu li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 100%;
    border-bottom: 3px solid #fa4c06;
    transition: 0.2s all linear;
}

.header_container ul.menu li:hover::before {
    width: 100%;
    top: 0;
    left: 0;
}

.header_container ul.menu li:hover ~ .header_container ul.menu li::before {
    left: 0;
} */
/* 导航效果  */

.header_container ul.menu li a {
    font-size: 18px;
    color: #333333;
}

.header_container ul.menu li.active {
    border-bottom: 3px solid #fa4c06;
}

.header_container ul.menu li.active a {
    color: #fa4c06;
}

/** =============================== */
.bg-light {
    background-color: #ffffff!important;
}

.navbar-brand img{
    height: 40px;
}

/* index.shtml */

.container {
    background-color: #fff;
}

/* sidebar.shtml */

.nav-sidebar {
    height: calc(100% - 468px);
    user-select: none;
}

.subtitle {
    color: #063862;
    background-color: #b2d8f2;
    height: 60px;
    width: 100%;
    padding-left: 15px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar {
    width: 100%;
    font-size: 16px;
    padding: 0px;
}

.sidebar li {
    width: 100%;
    height: 55px;
    padding-left: 20px;
    line-height: 55px;
    border-bottom: 2px solid #fff;
    position: relative;
    background-color: #f6f6f6;
}

.sidebar li i {
    width: 4px;
    height: 4px;
    display: block;
    background-color: #333333;
    top: 25px;
    position: absolute;
}

.sidebar li a {
    margin-left: 10px;
}

.sidebar li.active i {
    background-color: #fa4c06;
}

.sidebar li.active a {
    color: #fa4c06;
}

.sidebar li.modal{
    height: 200px;
    display: block;
}
/* content.shtml */

.container>.row>.col-md-9 {
    padding: 0px;
}

.bread_menu {
    text-align: left;
    width: 100%;
    padding-left: 10px;
    user-select: none;
}

.bread_menu_line{
    margin: 0px;
    border-bottom: 1px solid #ccc;
}

.bread_menu a {
    color: #063862;
    font-size: 16px;
}

/* ## details ##  */

#details_con .title {
    font-size: 26px;
    padding-bottom: 25px;
    text-align: center;
    border-bottom: 1px solid #d6d6d6;
    line-height: 150%;
}

#details_con .content {
    text-indent: 35px;
    line-height: 28px;
    font-size: 15px;
    width: 90%;
}

#details_con .title,#details_con .content{
    width: 90%;
    margin: 32px auto;
}

/* ## infoList_con ## */
#infoList_con .infoList{
    margin: 0px;
    padding: 0px;
}

#infoList_con .infoList li{
    width: 100%;
    height: 45px;
    font-size: 14px;
    line-height: 45px;
    position: relative;
    border-bottom: 1px solid #d6d6d6;
}

#infoList_con .infoList li:nth-of-type(even){
    background-color: rgb(244, 244, 244);
}

#infoList_con .infoList li i {
    width: 4px;
    height: 4px;
    top: 20px;
    left: 10px;
    display: block;
    background-color: #333333;
    position: absolute;
}

#infoList_con .infoList li a{
    width: 80%;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#infoList_con .infoList li span{
    float: right;
    color: #5a5959;
    padding-right: 10px;
}

#details_con .content b.info_subtitle{
    font-size: 18px!important;
}

/* footer.shtml */
footer{
    height: 90px;
    width: 100%;
    position: relative;
    background-color: #0b4169;
    padding-top: 15px;
    user-select: none;
}

footer .foot_main{
    max-width: 1200px;
    height: 75px;
    margin: 0 auto;
    padding-top: 5px;
    position: relative;
}

footer .foot_main .foot_word{
    margin-left: 7px;
    margin-right: 8px;
    font-size: 14px;
    line-height: 28px;
    color: #80b8e2;
}





/** =============== */
/* 手机端 */
@media screen and (max-width: 760px){
    .mobile_hide {
        display: none !important;
    }

    #infoList_con .infoList li a{
        width: 65%;
    }

    footer .foot_main .foot_word {
        margin: 0px auto;
        text-align: center;
        width: 100%;
        display: block;
        font-size: 12px;
        line-height: 16px;
    }

    footer .foot_main{
        padding-top: 0px;
    }
    footer .foot_main br{
        display: none;
    }

    /* .menu a.nav-link{
        width: 50%;
    } */

    ul.menu>li>ul.menu{
        margin-left: 20px;
    }

    ul.menu>li>ul.menu>li.active>a{
        color: #000;
    }

    .bg-light{
        background-image: url(../img/header_banner.jpg);
        background-size: 70%;
        background-repeat: no-repeat;
    }

    #navbarNavDropdown{
        margin-top: 10px;
    }

    .container>.row>.col-md-9 {
        padding-right: 0rem!important;
    }
    html,body{
        overflow-x: hidden;
    }
}
/* PC端 */
@media screen and (min-width: 760px){
    .pc_hide {
        display: none !important;
    }
}